body.body1 {
    background-image:url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/38094b95235473.5e92ecc4409a8.gif);
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
}
body.body2{
    background-image:url(https://giffiles.alphacoders.com/212/212812.gif);
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
}
p{
    background-color: black;
    color: white;
    padding: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-left: 20px;
    margin-bottom: 15px;
}
h2{
    background-color: black;
    color: white;
    padding: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    width: 100%;
}
span{
    background-color: black;
    color: white;
}
li{
    background-color: black;
    color: white;
}
ul{
    background-color: black;
    color: white;
}
div.container-fluid{
    background-color: black;
    color: white;
}
table{
    background-color: black;
    color:white;
}
form{
    color:white;
}
label{
    background-color: black;
    color:white;
    padding:4px;
}
input[type="text"], textarea {
    background-color : black; 
    color: white;
}
input[type="email"], textarea {
    background-color : black; 
    color: white;
}
select, textarea {
    background-color : black; 
    color: white;
}
option, textarea {
    background-color : black; 
    color: white;
}
legend{
    background-color : black; 
    color: white;
}
td{
    background-color : black; 
    color: white;
    padding: 10px;
}
tr{
    border-bottom: 1px solid beige;
}
th{
    padding: 10px;
}
input{
    background-color : black; 
    color: white;
}
input[type=text]{
    background-color: black;
    color: white;
}
select.form-control {
    background-color: black;
    color: white;
}
input[type=readonly] {
    color: black;
}